# Node.js dependencies
/backend/node_modules/
/frontend/node_modules/

# Compiled TypeScript files
/backend/dist/
/frontend/dist/

# Environment variables
/backend/.env
/frontend/.env

# Logs
/backend/logs/
/frontend/logs/
*.log

# System files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# OS files
*.swp
